<div class="page-header">
  <h1>
    <%= best_in_place_if can_edit_object(@discussion_thread), @discussion_thread, :title, :as => :input %>
  </h1>
</div>

<%= link_to board_path(@discussion_thread.board) do %>
    <strong><< Back</strong>
<% end %>
<br><br>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= @discussion_thread.author.name %><br>
    <small>
      <strong>Created at: </strong><%= @discussion_thread.created_at.strftime('%d-%m-%Y, %H:%M %P') %>
      <strong>Edited at: </strong><%= @discussion_thread.updated_at.strftime('%d-%m-%Y, %H:%M %P') %>
    </small>
  </div>
  <div class="panel-body">
    <%= best_in_place_if can_edit_object(@discussion_thread), @discussion_thread, :body, :as => :textarea %>
    <br><br>
    <%= render 'image_thumbnails', attachments: @discussion_thread.attachments %>
  </div>
</div>

<% @replies.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span><%= post.author.name %></span><br>
        <small>
          <strong>Created at: </strong><span><%= post.created_at.strftime('%d-%m-%Y, %H:%M %P') %></span>
          <strong>Edited at: </strong><span><%= post.updated_at.strftime('%d-%m-%Y, %H:%M %P') %></span>
        </small>
      </div>
      <div class="panel-body">
        <%= best_in_place_if can_edit_object(post), post, :body, :url => discussion_thread_post_path(@discussion_thread, post), :as => :textarea %>
        <br><br>
        <%= render 'image_thumbnails', attachments: post.attachments %>
      </div>
    </div>
<% end %>
<br>
<%= will_paginate @replies %>
<br>
<% if current_user %>
    <%= render "posts/post_form" %>
<% end %>
