<div class="list-group">
  <div class="list-group-item row">
    <span class="col-md-1"></span>
    <span class="col-md-6"><strong>Board</strong></span>
    <span class="col-md-2 text-right"><strong>Threads/Posts</strong></span>
    <span class="col-md-2 text-right"><strong>Last Post</strong></span>
    <% if has_role? 'admin' %>
            <span class="col-md-1 pull-right">
              <strong>Actions</strong>
            </span>
    <% end %>
  </div>

  <% boards.each do |board| %>
      <div class="list-group-item row">
        <span class="col-md-1 fa fa-comments-o fa-fw fa-3x" aria-hidden="true"></span>
        <span class="col-md-6"><%= link_to "#{board.title}", board %><br>
          <small><%= board.description %></small>
          <div class="row">
            <% board.sub_boards.each do |sub_board| %>
            <span class="col-md-6">
              <%= render 'board_compact', board: sub_board %>
            </span>
            <% end %>
          </div>
        </span>
        <span class="col-md-2 text-right">
          <div class="text-right">Threads: <%= board.thread_count %> </div>
          <div class="text-right">Posts: <%= board.post_count %></div>
        </span>
        <span class="col-md-2 text-right"></span>
        <% if has_role? 'admin' %>
            <span class="col-md-1 pull-right">
              <%= link_to 'Edit', edit_board_path(board) %>
              <%= link_to 'Delete', board, method: :delete, data: {confirm: "Are you sure?"} %>
            </span>
        <% end %>
      </div>
  <% end %>
</div>